:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Roboto Mono', monospace;
  --color-red: #ff4456;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-primary);
  background: #000;
  color: #fff;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.form-anime {
  width: 100%;
  height: 100vh;
  background: url('/images/bg.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

.background-1 {
  width: 100%;
  height: 100vh;
  background: url('/images/1.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

.background-2 {
  width: 100%;
  height: 100vh;
  background: url('/images/2.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

.background-3 {
  width: 100%;
  height: 100vh;
  background: url('/images/3.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

.background-4 {
  width: 100%;
  height: 100vh;
  background: url('/images/4.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

.background-5 {
  width: 100%;
  height: 100vh;
  background: url('/images/5.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-6 {
  width: 100%;
  height: 100vh;
  background: url('/images/6.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-7 {
  width: 100%;
  height: 100vh;
  background: url('/images/7.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-8 {
  width: 100%;
  height: 100vh;
  background: url('/images/8.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-9 {
  width: 100%;
  height: 100vh;
  background: url('/images/9.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-10 {
  width: 100%;
  height: 100vh;
  background: url('/images/10.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-11 {
  width: 100%;
  height: 100vh;
  background: url('/images/11.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-12 {
  width: 100%;
  height: 100vh;
  background: url('/images/12.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-13 {
  width: 100%;
  height: 100vh;
  background: url('/images/13.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-14 {
  width: 100%;
  height: 100vh;
  background: url('/images/14.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-15 {
  width: 100%;
  height: 100vh;
  background: url('/images/15.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-16 {
  width: 100%;
  height: 100vh;
  background: url('/images/16.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-17 {
  width: 100%;
  height: 100vh;
  background: url('/images/17.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-18 {
  width: 100%;
  height: 100vh;
  background: url('/images/18.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-19 {
  width: 100%;
  height: 100vh;
  background: url('/images/19.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-20 {
  width: 100%;
  height: 100vh;
  background: url('/images/20.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-21 {
  width: 100%;
  height: 100vh;
  background: url('/images/21.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}
.background-22 {
  width: 100%;
  height: 100vh;
  background: url('/images/22.webp') no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

.form-anime__inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}

.switch-btn {
  position: absolute;
  top: 30px;
  background-color: transparent;
  border: 2px solid var(--color-red);
  border-radius: 25px;
  background-image: url('/images/switch-btn.webp');
  background-size: 200% 100%;
  background-position: 100% 50%;
  transition: background-position 0.5s ease-in-out, box-shadow 0.4s ease-in-out;
  color: #d3d3d3;
  font-weight: 700;
  font-size: 20px;
  width: 110px;
  height: 50px;
}

.switch-btn:hover {
  cursor: pointer;
  background-position: 0% 50%;
  box-shadow: 0px 0px 25px var(--color-red), 0px 0px 15px var(--color-red);
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 15px #0ff;
  transition: box-shadow 0.4s ease-in-out;
}

.login-box:hover {
  box-shadow: 0px 0px 24px #0ff, 0px 0px 24px #0ff;
  cursor: pointer;
}

.login-box:active {
  box-shadow: 0px 0px 24px #0ff, 0px 0px 24px #0ff;
  cursor: grabbing;
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  line-height: 57px;
}

.remember-forgot {
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  margin: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.form-btn {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  font-size: 1em;
  color: #000;
  font-weight: 500;
}

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.9s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00aeff;
  border-radius: 12px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.register-link {
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25PX 0 10px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.icon:hover {
  scale: 1.2;
  cursor: pointer;
  transition: .5s;
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.hvr-wobble-horizontal {
  display: block;
  cursor: pointer;
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #fff solid 1px;
  border-radius: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

.login-box {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 400px) {
  .login-box {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
  }

  .input-box {
    width: 290px;
  }

  .logo {
    display: none;
  }

  .switch-btn {
    display: none;
  }
  .print-wrapper {
    display:none;
  }
}